@import "tailwindcss";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #76ff64;
}

.body {

 background-color: rgb(109, 114, 177);

}

body {
  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff; 
}

.buttongreen {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a8b16;
  color: white; 
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttongreen:hover {
  border-color: #76ff64;
}

.buttongreen:focus,

.buttongreen:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btnpanel {
  color: rgb(0, 0, 0);
  background-color: rgb(109, 114, 177);
  cursor: pointer;
  font-weight: 300;
  padding: 19px;
  border-radius: 8px;
  border-radius: 5px;
  border-color: gray;
}

.mm-box {
  
  padding: 10px;
  border-radius: 5px; 
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1); 
}

.tabsul {
  display: flex;
  margin: 0;
  padding: 4px;
  align-items: center;
}

.tabitem {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: #3077be;
  
}


.tabitem:hover{
  border-radius: 5px;
  background-color: rgb(109, 114, 177);
}

.imgbtn {

  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}

.popup{

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate()
}

p {
  color: gray;
}

.lalacolor{
     background-color: #1a1a1a;
}

.x {

  position: absolute; 
  font-size: 1rem; 
  color: #000000;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  top: 0.5rem;
  right: 0.7rem;
}

.x:hover {
  color:gray
}


.popup-touch {
 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  animation: popup 0.5s ease-out;
  transition: all 0.3s ease;
  background-color: #1a1a1a;
  color: white;
  padding: 2rem; 
  border-radius: 3rem;  
  width: 100%;
  max-width: 28rem; 
}



@keyframes popup {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
